.container {
    background-color: var(--color-grey-light-1);
    max-width: 120rem;
    margin: 8rem auto;
    box-shadow: var(--shadow-dark);

    @media only screen and (max-width: $bp-largest) {
        margin: 0;
        min-width: 100%;
        width: 100%;
    }

}

.header {

    height: 6rem;
    font-size: 1.4rem;
    background-color: #fff;
    border-bottom: var(--line);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $bp-smallest) {
        flex-wrap: wrap;
        height: 11rem;
        align-content: space-around;
    }

}

.contain {
    display: flex;

    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;

    }
}

.sidebar {
    background-color: var(--color-grey-dark-1);
    flex: 0 0 18%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.hotel-view {
    background-color: #fff;
    flex: 1;

}

.details {
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);
    font-size: 1.4rem;

    @media only screen and (max-width: $bp-medium) {
        padding: 2rem;
    }

    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
    }
}

.description {
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    flex: 0 0 60%;
    margin-right: 4.5rem;

    @media only screen and (max-width: $bp-medium) {
        padding: 1rem;
    }

    @media only screen and (max-width: $bp-small) {
        margin-bottom: 2rem;
        margin-right: 0;
    }


}

.user-reviews {
    background-color: #fff;
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
}